html,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  height: 100%;
  background-color: hsl(0,0%,43%);
}
.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 30% 15% 1fr 15%;
  grid-template-rows: 100px 1fr 1fr 100px;
  gap: 15px;
}

.grid-item {
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}
.grid-item:hover {
  box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.4);
}

#area1 {
  background-color: #1f2833;
  text-align: center;
}

#area2 {
  background-color: #0b0c10;
  grid-column-start: 2;
  grid-column-end: 5;
  text-align: center;
}

.name {
  position: relative;
  font-size: 3rem;
  color: #66fcf1;
  bottom: 40px;
}

.phoneNumber {
  position: relative;
  bottom: 85px;
  color: rgb(187, 187, 187);
}

#area3 {
  background-color: #45a29e;
  grid-row-start: 2;
  grid-row-end: 5;
  overflow: auto;
}

#area4 {
  background-color: #66fcf1;
  grid-column-start: 2;
  grid-column-end: 4;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
  
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
  
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tbody tr:nth-child(even) {
  background-color: #fff;
}
  
tbody tr:hover {
  background-color: #ddd;
}  

#area5 {
  background-color: #45a29e;
}
#area5 img{
  max-height: 100%;
  display: block;
}

#area6 {
  text-align: left;
  background-color: #0b0c10;
}
#area6 a{
  color: white;
}

#area7 {
  background-color: #1f2833;
  grid-column-start: 3;
  grid-column-end: 5;
}

#area7 p {
  color: white;
}

#area8 {
  background-color: #0b0c10;
  grid-column-start: 2;
  grid-column-end: 5;
  display: flex;
  justify-content: space-evenly;
}

#area8 img {
  position: relative;
  top: 30%;
}